.page-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.links {
  display: flex;
  justify-content: right;
  margin-left: -30px;
  width: 98vw;
  height:10vh
}

.links > a {
  color: black;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}

#images:hover {
  text-decoration: underline;
}

#advanced:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100vw;
}

.logo > div > p {
  font-size: 80px;
  font-family: sans-serif;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.search-bar {
  display: block;
  width: 40vw;
  border-radius: 50px;
  border-width: 1px;
  height: 3vh;
  box-shadow: 0px 3px 2px lightgray;
  padding: 10px;
  padding-left: 20px;
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  place-items: center;
}

.search-button {
  margin: 20px;
  background-color: lightgray;
  border-width: 0px;
}
